body {
	background-color: #080808;
	color: #fff;
	font-family: Grown, serif; 
}

main {
	width: 100%;
	padding-top: 0;
}

#pageHeader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
}

#pageHeaderText {
	flex: 1;
	margin-bottom: 0;
	text-align: center;
	font-size: 100%;
	font-weight: normal;

	letter-spacing: .05em;
	
	/* display: inline-block;
	transform: scaleX(1.6); 
	transform-origin: center; */
}

#pageHeaderRight {
   display: flex;
   flex-direction: column;
   font-size: 25%;
   text-align: right;
   gap: 0.5em;
   margin-left: 1em;

}

#yearDiv {
	/* float: right; */
	/* display: inline-block; */
	/* text-align: right; */
	/* font-size: 115%; */
	/* margin-right: 35px;	 */
}

#addOrdersDiv {
	border: 1px solid #ff3;
	border-radius: 4px;
	background-color: #181818;
	margin: .25rem 0;
	padding: .25rem;
	text-align: left;
}

#stateNav {
	margin: 0;
	background-color: #88b;
}

#stateNav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

#stateNav ul li {
	display: inline-block;
	flex: auto;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 5px;
	border: 1px solid black;
}

#stateNav ul li a:visited {
	color: white;
}

#nav2 {
	margin: 0;
	background-color: #dce;
}

#nav2 ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav2 ul li {
	display: inline-block;
	flex: auto;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 5px;
	color: black;
	border: 1px solid black;
}

#nav2 ul li a:visited {
	color: black;
}

section {
	/* width: 100%; */
	background: #116;
	border-radius: 8px;
	padding: 16px;
}

.eventsSection h3 {
	display: inline-block;
}

.inlineHeader {
	font-weight: bold;
	font-size: 200%;
	margin-right: 18px;
}

.defaultTable th {
	text-align: left;
}

.table-container {
    overflow-x: auto; /* Allows horizontal scrolling */
    width: 100%;      /* Container takes full width */
}

table {
    width: 100%;      /* Table takes full width of container */
    border-collapse: collapse;
}


.orderTable {
	table-layout: fixed;
	width: 100%;
	min-width: 900px;
	border: 3px solid black;
	color: black;
	background-color: white;	
	position: relative;
}

.orderTable thead { 
	background-color: white;
	font-size: 115%;
}

.orderTable th {
	padding: 2px 8px;
	position: sticky; 
	top: 0;
	background-color: white;
}

.orderTable tr {
	border-top: solid #bbf 1px;
}

/* Allow the first and last columns to adjust automatically */
.orderTable th:first-child, 
.orderTable td:first-child {
	width: auto;
	min-width: 100px;
	text-align: left;
}

.orderTable th:last-child, 
.orderTable td:last-child {
	width: auto;
	text-align: center;
}

/* Target the 2nd through 7th columns (the middle 7 columns) */
.orderTable th:nth-child(n+2):nth-child(-n+7),
.orderTable td:nth-child(n+2):nth-child(-n+7) {
	width: 5.5%;
	min-width: 100px;
	text-align: right;
	padding-right: 0;
}

/* Make the 8th column a little larger than the others */
.orderTable th:nth-child(8),
.orderTable td:nth-child(8) {
    width: 10%;
	 text-align: right;
}

.orderTable td input {
	margin: 4px;
	box-sizing: border-box;
}

.doneRow {
	background-color: #ddf;
}

.unDoneRow {
	background-color: #fdd;
}

.partDoneRow {
	background-color: #ecf;
}

.overRow {
	background-color: #f00;
}

tr.addOnRow {
	color: #666;
	font-size: 88%;
	border-top: none;
}

.addOnRow td:first-child {
    padding-left: 30px;
}

#commentsTable td {
   vertical-align: top;
}


.needTable {
	table-layout: fixed;
	width: 100%;
	border: 3px solid black;
	color: black;
	background-color: white;	
}

.needTable td {
	text-align: center;
}


.eventsTable {
	border: 3px solid black;
}

.eventsTable tr {
	border-bottom: 1px solid black;
}

.eventsTable th {
	text-align: left;
	font-size: 120%;
	font-weight: bold;
}

.eventsTable td {
	vertical-align: top;
	padding: 10px;
	font-size: 90%;
    white-space: normal;       /* allow wrapping at spaces */
    word-break: normal;        /* do not break words */
    overflow-wrap: normal;     /* prevent word splitting */
}

.eventsTable h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.eventsTable button .material-icons {
	font-size: 80%;
}

.darkOrangeRow {
	background: #840;
}

.darkGreenRow {
	background: #152;
}

.addedOrdersTable td {
	color: black;
}

/* Target the last 6 */
.addedOrdersTable th:nth-child(n+5):nth-child(-n+10),
.addedOrdersTable td:nth-child(n+5):nth-child(-n+10) {
	 text-align: right;
}

.tdWithInput {
	padding: 4px;
}

.tdWithInput input {
	width: 100%;
	min-width: 0;
}

.addOnButton {
	font-size: 75%;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

#sportPage h1 {
	font-size: 170%;
	text-decoration: underline;
}

.clickable:hover {
	cursor: pointer;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 1000; /* Ensure it appears above other elements */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal stuff **********************************************************************************/
/* Modal Content */
.modal-content {
	background-color: white;
	color: black;
	font-size: 70%;
	white-space: pre-line; /* Collapses extra spaces but respects \n */
	margin: 15% auto; /* Center the modal */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Adjust as needed */
	max-width: 500px; /* Optional max width */
	border-radius: 8px;
}

/* Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.topLevelButton {
	margin-left: 25px;
	font-size: 60%;
}

.row { 
	display: flex; 
	justify-content: space-between; /* pushes left and right apart */
	align-items: center;
}


.inventoryTable {
	background-color: white;
	color: black;
}

.inventoryTable td {
	border: 1px solid black;
}

.inventoryTable th:nth-child(-n+3) {
   text-align: left;
}

.inventoryTable th:nth-child(n+4) {
   text-align: right;
}

.inventoryTable .shirtRow td:nth-last-child(-n+7) {
   text-align: right;
}

.inventoryTable td:last-child {
	text-align: right;
}

.inventoryTable .shirtRow td.center {
	text-align: center;
}

.transferTable {
	background-color: #e8e8e8;
	color: black;
	width: auto;
	table-layout: auto;
	display: inline-block;
}

.transferTable th:first-child, .transferTable td:first-child {
	text-align: left;
}

.transferTable th:last-child, td:last-child {
	text-align: right;
}

.genderRadio {
	margin: 10px;
	white-space: nowrap;
}

.genderRadio p {
	margin: 0 0 4px 0;
}

.genderRadio label {
	display: inline-block;
}