body {
	background-color: #080808;
	color: #fff;
	font-family: Grown, serif; 
}

main {
	width: 100%;
	padding-top: 0;
}

#pageHeader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
}

#pageHeaderText {
	flex: 1;
	margin-bottom: 0;
	text-align: center;
	font-size: 100%;
	font-weight: normal;

	letter-spacing: .05em;
	
	/* display: inline-block;
	transform: scaleX(1.6); 
	transform-origin: center; */
}

#pageHeaderRight {
   display: flex;
   flex-direction: column;
   font-size: 25%;
   text-align: right;
   gap: 0.5em;
   margin-left: 1em;
}

#addOrdersDiv {
	border: 1px solid #ff3;
	border-radius: 4px;
	background-color: #181818;
	margin: .25rem 0;
	padding: .25rem;
	text-align: left;
}

#stateNav {
	margin: 0;
	background-color: #88b;
}

#stateNav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

#stateNav ul li {
	display: inline-block;
	flex: auto;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 5px;
	border: 1px solid black;
}

#stateNav ul li a:visited {
	color: white;
}

#nav2 {
	margin: 0;
	background-color: #dce;
}

#nav2 ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav2 ul li {
	display: inline-block;
	flex: auto;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 5px;
	color: black;
	border: 1px solid black;
}

#nav2 ul li a:visited {
	color: black;
}

section {
	/* width: 100%; */
	background: #116;
	border-radius: 8px;
	padding: 16px;
}

.eventsSection h3 {
	display: inline-block;
}

.inlineHeader {
	font-weight: bold;
	font-size: 200%;
	margin-right: 18px;
}

.defaultTable th {
	text-align: left;
}

.table-container {
    overflow-x: auto; /* Allows horizontal scrolling */
    width: 100%;      /* Container takes full width */
}

table {
    width: 100%;      /* Table takes full width of container */
    border-collapse: collapse;
}


.orderTable {
	table-layout: fixed;
	width: 100%;
	min-width: 950px;
	border: 3px solid black;
	color: black;
	background-color: white;	
	position: relative;
}

.orderTable thead { 
	background-color: white;
	font-size: 115%;
}

.orderTable th {
	padding: 2px 8px;
	position: sticky; 
	top: 0;
	background-color: white;
}

.orderTable tr {
	border-top: solid #bbf 1px;
}

/* Allow the first and last columns to adjust automatically */
.orderTable th:first-child, 
.orderTable td:first-child {
	width: auto;
	min-width: 100px;
	text-align: left;
	padding-left: 20px;
	text-indent: -17px;
}

.orderTable th:last-child, 
.orderTable td:last-child {
	width: auto;
	text-align: center;
}

/* Target the 2nd through 7th columns (the middle 7 columns) */
.orderTable th:nth-child(n+2):nth-child(-n+8),
.orderTable td:nth-child(n+2):nth-child(-n+8) {
	width: 5.5%;
	min-width: 90px;
	text-align: right;
	padding-right: 0;
}

/* Make the 8th column a little larger than the others */
.orderTable th:nth-child(9),
.orderTable td:nth-child(9) {
    width: 10%;
	 text-align: right;
}

.orderTable td input {
	margin: 4px;
	box-sizing: border-box;
}

.doneRow {
	background-color: #ddf;
}

.unDoneRow {
	background-color: #fdd;
}

.partDoneRow {
	background-color: #ecf;
}

.overRow {
	background-color: #f00;
}

.unOrderedRow {
	background-color: #ff4;
}

tr.addOnRow {
	color: #666;
	font-size: 88%;
	border-top: none;
}

.addOnRow td:first-child {
    padding-left: 40px;
}

#commentsTable td {
   vertical-align: top;
}


.needTable {
	table-layout: fixed;
	width: 100%;
	border: 3px solid black;
	color: black;
	background-color: white;	
}

.needTable td {
	text-align: center;
}


.eventsTable {
	border: 3px solid black;
}

.eventsTable tr {
	border-bottom: 1px solid black;
}

.eventsTable th {
	text-align: left;
	font-size: 120%;
	font-weight: bold;
}

.eventsTable td {
	vertical-align: top;
	padding: 10px;
	font-size: 90%;
	white-space: normal;       /* allow wrapping at spaces */
	word-break: normal;        /* do not break words */
	overflow-wrap: normal;     /* prevent word splitting */
}

.eventsTable h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.eventsTable button .material-icons {
	font-size: 80%;
}

.darkOrangeRow {
	background: #840;
}

.darkGreenRow {
	background: #152;
}

.addedOrdersTable td {
	color: black;
}

/* Target the last 6 */
.addedOrdersTable th:nth-child(n+5):nth-child(-n+10),
.addedOrdersTable td:nth-child(n+5):nth-child(-n+10) {
	 text-align: right;
}

.tdWithInput {
	padding: 4px;
}

.tdWithInput input {
	width: 100%;
	min-width: 0;
}

.addOnButton {
	font-size: 75%;
	margin: 5px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

#sportPage h1 {
	font-size: 170%;
	text-decoration: underline;
}

.clickable:hover {
	cursor: pointer;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 1000; /* Ensure it appears above other elements */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal stuff **********************************************************************************/
/* Modal Content */
.modal-window {
	background-color: white;
	color: black;
	font-size: 70%;
	white-space: pre-line; /* Collapses extra spaces but respects \n */
	margin: 15% auto; /* Center the modal */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Adjust as needed */
	max-width: 500px; /* Optional max width */
	overflow-x: auto;
	border-radius: 8px;
}

/* allow a wider modal */
.modal-window.wide {
	max-width: 800px;
	width: 90%;
}
/* allow a widest modal */
.modal-window.full {
	max-width: 1400px;
	width: 90%;
}

/* Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.topLevelButton {
	margin-left: 25px;
	font-size: 60%;
}

.row { 
	display: flex; 
	justify-content: space-between; /* pushes left and right apart */
	align-items: center;
}


.inventoryTable {
	background-color: white;
	color: black;
}

.inventoryTable td {
	border: 1px solid black;
}

.inventoryTable td:last-child {
	text-align: right;
}

.inventoryTable .shirtRow td.center {
	text-align: center;
}

.transferTable {
	background-color: #e8e8e8;
	color: black;
	width: auto;
	table-layout: auto;
	display: inline-block;
}

.transferTable th:first-child, .transferTable td:first-child {
	text-align: left;
}

.transferTable th:last-child, .transferTable td:last-child {
	text-align: right;
}

.genderRadio {
	margin: 10px;
	white-space: nowrap;
}

.genderRadio p {
	margin: 0 0 4px 0;
}

.genderRadio label {
	display: inline-block;
}


.parent {
	display:flex;
}

.half {
   flex: 1;   /* each takes equal width */
   /* optional spacing */
   padding: 0 10px;
   box-sizing: border-box; /* include padding in width */
}
.eventTabNav {
	border-bottom: 1px solid black;
}

.eventTabNav button {
	border-radius: 8px 8px 0 0;
	background-color: #fff;
}

.eventTabNav button.active {
	background-color: aquamarine;
}

.tabPanel {
	display: none;
}

.tabPanel.active {
   display: block;
}

	/* apply to element's children */
.invntryBtnCntnr > * {
	margin-left: 50 px;
	font-size: 60%;
	vertical-align: middle;
}

.buttonContainer {
	vertical-align: middle;
}

.buttonContainer h1 {
   display: flex;   /* keeps the h1 inline if needed */
	flex-wrap: wrap;  
	align-items: center;    /* vertically center text + buttons */
	vertical-align: middle;
	gap: 0.5em;             /* spacing between text and buttons */
}

.topLevelButton {
	margin-left: 25px;
	font-size: 60%;
}


.labelInputList {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	gap: .5em 1em;
}

.labelInputList label {
   text-align: right;
}


.itemsTable td {
	border-top: 1px solid black;
	vertical-align: top;
}

/* .itemsTable td:last-child,
.itemsTable th:last-child,
.itemsTable td:nth-last-child(2),
.itemsTable th:nth-last-child(2) {
    text-align: right;
}

.itemsTable td:nth-last-child(3),
.itemsTable th:nth-last-child(3) {
    text-align: center;
} */


.inventoryFillTable {
	background-color: white;
	color: black;
}

.inventoryFillTable td {
	border-top: 1px solid black;
}

	/* right align quantity columns */
.inventoryFillTable td.qCol {
    text-align: right;
}




.prevNextDiv {
	display: flex;
	align-items: center;
}

.prevNextCntnr {
	margin-left: auto;
	font-size: 180%;
}

#addItemForm fieldset {
   display: flex;
   align-items: center; 
   gap: 0.5em;          
   margin-bottom: 1em;
}

#addItemForm label {
   width: 270px;
   text-align: right;
} 

#addItemForm label span {
	/* border: 2px solid black; */
	border-radius: 4px;
	font-size: 115%;
	padding: 3px 8px;
}


.reportTable {
	background-color: white;
	color: black;
}

.reportTable td {
	border-top: 1px solid black;
	padding: 0 .6rem;
	word-break: normal;
	overflow-wrap: normal;
}

	/* right align quantity columns */
.reportTable th:not(:first-child), 
.reportTable td:not(:first-child) {
    text-align: right;
}

.topRow {
	border-top: 4px solid black;
}


#siteCostsForm fieldset {
	display: grid;
	grid-template-columns: max-content max-content max-content;
	align-items: center;
	gap: .5em 1em;
}

#addEventsTable tbody td {
	vertical-align: top;
}

.addEventRow {
   border-top: 1px solid black;
   padding-top: 0.5rem;
}